// All that good babel transforming stuff

{
  "plugins": [
    "transform-runtime"
  ],
  "presets": [
    // For ES6
    [
      "es2015",
      {
        "modules": false
      }
    ],
    // For experimental ES7 features
    "stage-0"
  ]
}