/* ---------------------------------
 * Responsive Breakpoints
 * --------------------------------- */
$xl: 1400px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 480px;

/* ---------------------------------
 * Colours
 * --------------------------------- */
$color__alt: #F60;
$color__black: #222;

// Bulma Modifications.
// See http://bulma.io/documentation/overview/variables/
$primary: $color__alt;